.food-gallery {
  min-width: 100%;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 1rem;
  background-color: #ddd;

  & .food-card {
    min-width: 220px;
    background-color: #ddd;
    overflow: hidden;
  }
}
